td, th {
  text-align: center;
  padding: 8px;
  border-top: 1px solid black;
  border-collapse: collapse;
}


div {
  font-size: 15px;
}
table {
	text-align: center;

}
img {
  flex-shrink: 0;
}

p {
  font-size: 20px
}

.city {
  font-size: 30px;
}

body {
  background-color: #efefef;
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

#iconDiv {
  float: left;
  width: 180px;
  height: 300px;
}

#text {
  float: left;
  /* width: 700px; */
  height: 300px;
  margin-left: 20px;
  display: block;
  overflow: auto;
}
